*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

input {
  border: none;
  display: block;
}

button {
  cursor: pointer;
}

input {
  width: 100%;
  padding: 10px;
  border-radius: 2px;
  margin-inline: 10px;
}

img {
  height: auto;
}

/* common classes */

.btn {
  cursor: pointer;
  padding: 5px 10px;
  font-weight: 400;
  border-radius: 2px;
  border: none;
}

/* Navbar */

#header {
  background: #2874f0;
  padding-block: 14px;
  color: white;
}

#nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}

#navbar {
  display: flex;
  flex: 1;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

#nav-items {
  align-self: center;
  top: 0;
}

#nav-items li {
  display: inline-block;
}

.nav-link {
  color: white;
  margin-left: 20px;
  align-self: center;
}

.nav-icons {
  vertical-align: middle;
}

.nav-search-bar {
  position: relative;
  flex: 1;
  max-width: 25rem;
}

#nav-search-icon {
  position: absolute;
  right: 0px;
  top: 5px;
  color: blue;
}

#login-btn {
  background-color: white;
  color: blue;
  padding: 5px 30px;
}

@media (min-width: 1024px) {
  #nav-container {
    max-width: 64%;
  }
}

@media (max-width: 1024px) {
  #nav-container {
    margin-inline: 20px;
  }
  #navbar {
    justify-content: space-evenly;
  }
}

@media (max-width: 768px) {
  .nav-span-text {
    display: none;
    color: red;
  }
}
